$def with (nameserviceurl, count)
  <script>
      jQuery(document).ready(function() {
          jQuery.ajax({
            url: "$nameserviceurl"
          }).done(function(data) {
            data = JSON.parse(data);
            if (data.status == "ok") {
              if (!data.data.overview) {
                data.data.overview = "";
              }
              jQuery('.series$count').data('seriesnamecoded', encodeURIComponent(data.data.seriesname));
              jQuery('.series$count').data('seasonnum', encodeURIComponent(data.season));
              if (data.data.banner) {
                jQuery('#banner$count').html('<img src="' + data.data.banner + '" width="100%" />');
              }
              jQuery('#synopsislink$count').click(function() {
                var content = "";
                if (data.data.fanart) {
                    content = '<center><img src="' + data.data.fanart + '" width="70%" /></center><br /><br />';
                } else if (data.data.banner) {
                    content = '<img src="' + data.data.banner + '" width="100%" /><br /><br />';
                }
                content += '<div class="synopsis">';
                if (data.data.genre) {
                    content += '<strong>Genre</strong>: ' + data.data.genre.split('|').slice(1,-1).join(',') + '<br />';
                }
                if (data.data.actors) {
                    content += '<strong>Cast</strong>: ' + data.data.actors.split('|').slice(1,-1).join(',') + '<br />';
                }
                content += '<br />' + (data.data.overview).replace(/(?:\r\n|\r|\n)/g, '<br />') + '</div>'
                jQuery('#dialogdiv').html(content);
                jQuery('#dialogdiv').dialog({
                    modal: true,
                    title: "Info",
                    width: 600,
                    position: {
                    my: "center top",
                    at: "center top",
                    of: window,
                    collision: "none"
                    },
                    create: function (event, ui) {
                      jQuery(event.target).parent().css('position', 'fixed');
                    },
                    buttons: {
                      Ok: function() {
                        jQuery( this ).dialog( "close" );
                      }
                    }   });
              });
            }
          });
      });
      function fetch_ep(seriesnamecoded, seasonnum, epnum) {
          jQuery.ajax({
            url: "/nameservice/episode?seriesname=" + seriesnamecoded + "&seasonnum=" + seasonnum + "&epnum=" + epnum
          }).done(function(data) {
            data = JSON.parse(data);
            if (data.status == "ok") {
              console.log(data.data.overview);
              if (!data.data.overview) {
                data.data.overview = "";
              }
              var content = '<div class="synopsis">' + (data.data.overview).replace(/(?:\r\n|\r|\n)/g, '<br />') + '</div>';
              if (data.data.episodename) {
                  content = '<strong>Episode name: ' + data.data.episodename + '</strong><br />' + content;
              }
              if (data.data.filename) {
                  content = '<center><img src="' + data.data.filename + '" width="70%" /></center><br />' + content;
              }
              jQuery('#dialogdiv').html(content);
              jQuery('#dialogdiv').dialog({
                  modal: true,
                  title: "Info",
                  width: 600,
                  position: {
                  my: "center top",
                  at: "center top",
                  of: window,
                  collision: "none"
                  },
                  create: function (event, ui) {
                    jQuery(event.target).parent().css('position', 'fixed');
                  },
                  buttons: {
                    Ok: function() {
                      jQuery( this ).dialog( "close" );
                    }
                  }   });
            }
          });
      }
  </script>
