div.tile {
    float:left;
    width: 400px;
    margin: 3px;
    padding: 5px;
    height: 250px;
    overflow: auto;
    background-color: #ffa;
}

div.myshow_tile {
    background-color: #afa;
}

div.searchdiv {
    padding: 10px;
    background-color: #ffa;
}

div.body {
    width: 850px;
    margin: auto;
}

div.banner {
    width: 100%;
}

div.synopsis {
    max-height: 200px;
    overflow: auto;
}

.ui-tooltip {
 white-space: pre-line;
}