div.tile {
    float:left;
    width: 400px;
    margin: 3px;
    padding: 5px;
    height: 210px;
    overflow: auto;
    background-color: #ffa;
}

div.myshow_tile {
    background-color: #afa;
}

div.searchdiv {
    padding: 10px;
    background-color: #ffa;
}

div.body {
    width: 850px;
    margin: auto;
}