$def with (files)

<div class="searchdiv">

$ count = 0
$for show in files:
  $code:
    count += 1
    nameserviceurl = "/nameservice/series?" + urllib.urlencode({'title': show['title']})

  <div id="banner$count" class="banner"></div>
  <h3>$show['title']</h3>
  <p><a href="#" onclick="return false;" id="synopsislink$count">Synopsis</a></p>
  <ul>
  $ epcount = 1
  $while epcount <= int(show['max_episode']):
    $if epcount in show['episodes'].keys():
      $code:
        playurl = "/play?" + urllib.urlencode({'path': show['episodes'][epcount]['path']})
      <li>
        <a href="$playurl" target="_blank">Episode $epcount</a>
        <a href="#" class="series$count" data-seriesnamecoded="" data-seasonnum=""
            onclick="fetch_ep(jQuery(this).data('seriesnamecoded'), jQuery(this).data('seasonnum'), $epcount); return false;">Fetch info</a><br />
      </li>
    $ epcount += 1
  </ul>
  $:partial_render.nameservicescript(nameserviceurl, count)
</div>
